@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@200;400;600;700&display=swap');
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    font-family: 'Montserrat', sans-serif !important;
    display: inline-block !important;
    border: none !important;
    outline: none !important;
    border-radius: 0.2rem;
    color: var(--text) !important;
    cursor: pointer !important;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: 100%;
    user-select: none;
}

body {
    background-color: #22254b !important;
    font-family: 'Montserrat', sans-serif !important;
    padding: 0;
    box-sizing: border-box;
}

.Show-bar {
    position: fixed !important;
    top: 60px;
    z-index: 40;
    padding: 1rem;
    width: 600px;
    height: 500px;
    box-shadow: -1px 15px 30px -12px rgb(32, 32, 32);
    border-radius: 0.9rem;
    background-color: var(--red-card);
    color: var(--text);
    cursor: pointer;
    overflow: visible;
    margin: 20px 20px;
}

.close {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 40;
    background-color: transparent;
    width: 100px;
    color: black !important;
}

.header {
    background-color: #88c8bc;
    padding: 1rem;
}

.gap {
    height: 80px;
}

.navbar-toggler:focus {
    outline: transparent !important;
}

h3 {
    font-size: 13px !important;
}

.search {
    background-color: transparent;
    border: 2px solid #22254b;
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.search::placeholder {
    color: #7378c5;
}

.search:focus {
    background-color: #22254b;
    outline: none;
}

.test {
    display: flex;
}

.main {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}

.movie {
    /* background-color: #373b69; */
    border-radius: 8px;
    box-shadow: 2px 3px 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 243px;
    height: 360px;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.movie :hover {
    background-color: #373b69 !important;
}

.movie img {
    width: 100%;
    height: 243px;
    object-fit: contain;
}

.movie button {
    background-color: var(--btn) !important;
    padding: 0.3rem 1.5rem !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    transition: 300ms ease !important;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    font-family: 'Rokkitt', serif;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    flex-direction: column;
    gap: 10px;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
    font-size: 18px !important;
    font-weight: 400 !important;
}

.movie-info span {
    background-color: #22254b;
    border-radius: 6px;
    font-size: 14px !important;
    width: fit-content;
    text-align: center;
    font-weight: bold;
    padding: 0.5rem 15px;
}

.overview {
    background-color: #373b69;
    padding: 0.5rem !important;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    display: flex;
    justify-content: center;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in-out;
}

.overview h3 {
    margin-top: 0;
    font-size: 12px;
}

.movie:hover .overview {
    transform: translateY(0);
}

.pagination {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    align-content: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


/*===== GOOGLE FONTS =====*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/*===== VARIABLES CSS =====*/

:root {
    --dark-color-lighten: #f2f5ff;
    --red-card: #a62121;
    --blue-card: #4bb7e6;
    --btn: #141414;
    --btn-hover: #3a3a3a;
    --text: #fbf7f7;
}


/*===== RESET =====*/


/*===== CARD =====*/

.container {
    height: 100%;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.cards {
    position: relative;
    padding: 1rem;
    width: 310px;
    height: 450px;
    box-shadow: -1px 15px 30px -12px rgb(32, 32, 32);
    border-radius: 0.9rem;
    background-color: var(--red-card);
    color: var(--text);
    cursor: pointer;
    overflow: hidden;
    margin: 20px 20px;
}

.container section:nth-child(2) {
    background: var(--blue-card);
}

.container section:nth-child(1) {
    background: rgb(212, 205, 205);
    color: #000;
}

.head-tittle {
    font-size: 40px;
    font-style: italic;
    font-weight: 600;
    color: white;
    text-align: center;
    margin: 30px;
    font-family: 'Rokkitt', serif;
}

.card-blue {
    background: var(--blue-card);
}

.product-image {
    height: 230px;
    width: 100%;
    transform: translate(0, -1rem);
    transition: transform 500ms ease-in-out;
    filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
    object-fit: contain;
}

.cards img {
    object-fit: contain;
}

.Show-bar img {
    object-fit: contain;
}

.product-info {
    text-align: center;
}

.cards:hover .product-image {
    transform: translate(-1.5rem, -2rem) rotate(-20deg);
}

.product-info h2 {
    font-size: 1.4rem;
    font-weight: 600;
}

.product-info p {
    margin: 0.4rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.price {
    font-size: 1.2rem;
    font-weight: 500;
}

.btn {
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center !important;
    margin-top: 0.8rem !important;
}

.buy-btn {
    background-color: var(--btn);
    padding: 0.6rem 3.5rem !important;
    font-weight: 600 !important;
    font-size: 1rem !important;
    transition: 300ms ease !important;
    border: none !important;
}

.buy-btn:hover {
    background-color: var(--btn-hover);
}

.fav {
    box-sizing: border-box;
    background: #fff;
    padding: 0.5rem 0.5rem;
    border: 1px solid#000;
    display: grid;
    place-items: center;
}

.svg {
    height: 25px;
    width: 25px;
    fill: #fff;
    transition: all 500ms ease;
}

.fav:hover .svg {
    fill: #000;
}

@media screen and (max-width: 800px) {
    body {
        height: auto;
    }
    .container {
        padding: 2rem 0;
        width: 100%;
        flex-direction: column;
        gap: 3rem;
    }
    .Show-bar {
        padding: 2rem 0;
        width: 100%;
        height: 60%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
}